$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$reserve-font-family: "Arial", sans-serif;
$main-font-family: "Montserrat", $reserve-font-family;

$style-change-duration: 0.4s;

//FONTS COLOR
$main-font-color: #3f3f3f;
$font-color-white: #ffffff;
$font-color-gray: #a3a3a3;
$font-color-orange: #ff6231;

//BACKGROUNDS
$main-bg-color: #ffffff;
$bg-color-light-gray: #f5f5f5f5;
$bg-color-dark: #3f3f3f;
$bg-color-orange:#ff6231;
$bg-color-light-orange: #ffd2a9;
$bg-color-footer: #303030;
