@mixin desktop {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: 1359px) {
    @content;
  }
}

@mixin tablet-large {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}


@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}


@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
